# Build output
build/
dist/

# Logs
*.log

# VS Code settings and workspace files
.vscode/
*.code-workspace

# Temporary and lock files
*.tmp
tmp/
package-lock.json

# Environment variables
terraform/environments/prod/

# Coverage reports
coverage/

# Node modules 
node_modules/

# Python caches (if using Python)
__pycache__/
*.py

# Ignore Terraform hidden directories
.terraform/
.terraform/*

# Ignore .log files only inside the logs/ folder
**/logs/*.log

# Ignore Terraform state files inside terraform/ and subdirectories
terraform/**/*.tfstate
terraform/**/*.tfstate.backup
terraform/**/tfplan
terraform/**/*.tfplan.json
terraform/**/*.tfworkspace
terraform/**/*.tfstate.d/
terraform/**/*.crash.log
terraform/**/*.log
terraform/terraform.tfvars
# Ignore hcl lock files
terraform/**/*.hcl
terraform/**/*.lock.info