# Build output
build/
dist/

# VS Code settings and workspace files
.vscode/
*.code-workspace

# Temporary and lock files
*.tmp
/**/tmp/
package-lock.json

# Coverage reports
coverage/

# Node modules 
node_modules/

# Python caches (if using Python)
__pycache__/
*.ipynb

# Ignore Terraform hidden directories
/**/.terraform/*

# Ignore outputs folder
**/outputs
# Ignore Terraform state files inside terraform/ and subdirectories
/**/*.tfstate
/**/*.backup
/**/tfplan
/**/*.tfplan.json
/**/*.tfworkspace
/**/*.tfstate.d/
/**/*.crash.log
/**/*.log
/**/*.tfvars
# Ignore hcl lock files
/**/*.hcl
/**/*.lock.info
/**/*.tfvars

# Ignore api-gateway files
/**/api_gateway/